.chatBody{
    position: relative;
    display: flex;
    border-radius: 1.5%;
    background-color: white; 
    width: 65%;
    height: 100%;
    top:0; left:0; right:0; bottom:0;
    margin: auto;
    box-shadow: -3px 10px 74px 0px rgba(0,0,0,0.27);
    -webkit-box-shadow: -3px 10px 74px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: -3px 10px 74px 0px rgba(0,0,0,0.27);
}

.bg{
    background-color: rgb(25, 23, 139); 
    margin: 0;
}

.boxArea{
    margin: 10%;
    position: absolute; 
    bottom: 0; 
    width: 80%;
}