<html>
    <head>
        <link rel="stylesheet" href="stylesheets/disconnected.css">
        <title>Chattn.io</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    </head>

    <body class="bg">
        <div style="top:0;left:0;bottom:0;right:0;text-align: center;display: block;font-family:  'Roboto Slab', serif; font-size: 5vw; padding:20%;padding-top:15%; width:100%;height:100%;box-sizing: border-box;float: center;color:white">
            <label id="title">Desconectado</label>
            <label style="font-size: 2vw; display: block;">Você está utilizando o Chattn.IO em outro dispositivo, caso deseja usá-lo aqui, clique no botão abaixo.</label>
            <button style="margin-top:5%; padding:5%;padding-right:10%;padding-left:10%;background-color: rgba(12,153,90,255);color: white;font-size: 2vw;border: none; cursor: pointer;" onclick="window.location.href='/chat'">Conectar</button>
        
        </div>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </body>
</html>