<html>
    <head>
        <link rel="stylesheet" href="stylesheets/index.css">
        <title>Chattn.io</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    </head>

    <body class="bg">

        
        <div id="card" style="top:0;left:0;bottom:0;right:0;text-align: center;display: block;font-family:  'Roboto Slab', serif; font-size: 5vw; padding-top:5%;box-sizing: border-box;float: center;">
            <label id="success" style="font-size: 2vw;color: green;display: none;margin-bottom: 1%;">Conta criada com sucesso</label>
            <label id="failure"style="font-size: 2vw;color: rgb(231, 38, 32);display: none;margin-bottom: 1%;">Um erro ocorreu, tente novamente.</label>
            
            <label id="title">Juntar-se</label>
            
            <div style="margin-top: 8%;display: block;">
                <label style="font-size: 1vw;">Nome de usuário</label><br>
                <input type='text' id='username' style="height:8%;font-size: xx-large; margin-bottom: 5%;"><br>
                <label style="font-size: 1vw;">Senha</label><br>
                <input type='password' id='pass'style="height:8%;font-size: xx-large;margin-bottom: 5%;"><br>
                <div id="confirmPass">
                    <label style="font-size: 1vw;">Confirmar Senha</label><br>
                    <input type='password' id='passCheck'style="height:8%;font-size: xx-large;margin-bottom: 5%;"><br>
                </div>
                
                <button id="actionButton" onclick="register()" style="width: 20%;height: 10%;margin-bottom: 5%;background-color: #ffce44;margin: 0;outline: none;border: none;margin-bottom: 5%; cursor: pointer;"> Criar conta</button><br>
                <button onclick="logout()" style="width: 20%;height: 10%;margin-bottom: 5%; display: none;"> Logout</button>
                
                
                <label id="switch" style="font-size: 1vw; cursor: pointer;" onclick="switchLogin()">Já é cadastrado? Entrar.</label><br>
                
            </div>
        </div>

        <div id="navBar" style="font-family: 'MyOwn'; padding: 1%;padding-left: 2%; font-size: 2.5vw; color: whitesmoke;">CHATTN.<span style="color:#ffce44">IO</span></div>
   
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src ="/scripts/index.js"></script>
    </body>
</html>