<html>
    <head>
        <link rel="stylesheet" href="stylesheets/index.css">
        <title>Chattn.io</title>
    </head>

    <body class="bg" >
        <input type='text' id='login'>
        <input type='password' id='pass'>
        <button onclick="postLogin()"> Logar</button>
        <button onclick="logout()"> Logout</button>
        <input type='text' id='user'>
            <div class="chatBody">
                <div class="currentChat" style="width: 70%;margin: 0;float: right;display: block;">

                
                <div class="messagesDiv">
                    <!--<div class="messageClient">
                         <label class="lblText">Bom dia a todos! Como vocês estão?</label> !
                    </div>-->
                    <br>
                    <div class="messageServer" style="width:0; height: 0; min-width: 0; min-height: 0; padding: 0;">
                        
                    </div>
                </div>
                <div class="boxArea" >
                    <textarea class="form-control" id="textBox" rows="1" placeholder="Digite algo!"  maxlength="6000"></textarea>
                    <button id='btn_send' onclick="sendMsg()">Enviar</button>
                </div>

                </div>
                <div class="chatList" style="height: 100%;width: 30%;margin: 0;float: left; overflow-y: scroll; cursor: pointer; ">
                    <div id="baseChat" class="chatRectangle" style="display: none;">
                        <img src="./stylesheets/resources/usercircle.png" style="width: 20%;display: flex;display: block;height: 100%; min-width: 80px; max-height: 90px;">
                        <div style="margin-left: 5%;">
                            <label class="nameUser" style="margin: 5%;margin-left: 0;margin-bottom: 0;font-size:x-large; width: 100%;">Nome da Pessoa</label><br>
                            <label class="text" style="font-size: larger;opacity: 50%;width: 100%;">Hmmm</label>
                        </div>
                        
                    </div>
                </div>
        </div>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src = "/socket.io/socket.io.js"></script>
    <script src ="scripts/index.js"></script>

    </body>
</html>